.icon-bar { width: 99%; }

.icon-bar a {
    float: left; 
    text-align: center; 
    width: 33%; 
    padding: 12px 0; 
    transition: all 0.3s ease;
    color: white; 
    font-size: 25px; 
    background-color:lightsteelblue;
}

.icon-bar a:hover { background-color: #000; }

table {     Width:99%;
            text-align: center; 
            align-items: center;
            font-size:large;   }